In [2]:
import pandas as pd
import numpy as np

In [3]:
#df_h_a = pd.read_csv('A:/csv_hus/psam_husa.csv')
#df_h_b = pd.read_csv('A:/csv_hus/psam_husb.csv')
#df_h_c = pd.read_csv('A:/csv_hus/psam_husc.csv')
#df_h_d = pd.read_csv('A:/csv_hus/psam_husd.csv')

#df_p_a = pd.read_csv('A:/csv_pus/psam_pusa.csv')
#df_p_b = pd.read_csv('A:/csv_pus/psam_pusb.csv')
#df_p_c = pd.read_csv('A:/csv_pus/psam_pusc.csv')
#df_p_d = pd.read_csv('A:/csv_pus/psam_pusd.csv')


# loading the delaware data 
df_h = pd.read_csv('/mnt/a/csv_hde/psam_h10.csv')
df_p = pd.read_csv('/mnt/a/csv_pde/psam_p10.csv')

In [4]:
h_colums_to_keep = ['SERIALNO', 'TEN', 'HHL', 'VEH', 'HINCP', 'R65', 'R18']
p_colums_to_keep = ['SERIALNO', 'SEX', 'AGEP', 'SCHL'] 
#df_h_a_filtered = df_h_a.filter(items=h_colums_to_keep).dropna()
#df_h_b_filtered = df_h_b.filter(items=h_colums_to_keep).dropna()
#df_h_c_filtered = df_h_c.filter(items=h_colums_to_keep).dropna()
#df_h_d_filtered = df_h_d.filter(items=h_colums_to_keep).dropna()

#df_p_a_filtered = df_p_a.filter(items=p_colums_to_keep).dropna()
#df_p_b_filtered = df_p_b.filter(items=p_colums_to_keep).dropna()
#df_p_c_filtered = df_p_c.filter(items=p_colums_to_keep).dropna()
#df_p_d_filtered = df_p_d.filter(items=p_colums_to_keep).dropna()

df_h_filtered = df_h.filter(items=h_colums_to_keep).dropna()
df_p_filtered = df_p.filter(items=p_colums_to_keep).dropna()

In [5]:
#df_h_clean = pd.concat([df_h_a_filtered, df_h_b_filtered, df_h_c_filtered, df_h_d_filtered])
df_h_clean = df_h_filtered
df_p_clean = df_p_filtered
print(df_h_filtered.head())
print(df_h_filtered.info())

          SERIALNO  TEN  HHL  VEH     HINCP  R65  R18
380  2018HU0000173  1.0  1.0  2.0   70000.0  2.0  0.0
381  2018HU0001350  1.0  1.0  0.0   22500.0  1.0  0.0
383  2018HU0001544  1.0  2.0  1.0   26400.0  2.0  0.0
384  2018HU0002139  1.0  5.0  1.0  200000.0  0.0  1.0
386  2018HU0002776  1.0  2.0  2.0   20000.0  0.0  1.0
<class 'pandas.core.frame.DataFrame'>
Index: 19026 entries, 380 to 23570
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  19026 non-null  object
 1   TEN       19026 non-null  float64
 2   HHL       19026 non-null  float64
 3   VEH       19026 non-null  float64
 4   HINCP     19026 non-null  float64
 5   R65       19026 non-null  float64
 6   R18       19026 non-null  float64
dtypes: float64(6), object(1)
memory usage: 1.2+ MB
None

In [6]:
# merge the two dataframes on the SERIALNO column
df = pd.merge(df_h_clean, df_p_clean, on='SERIALNO', how='inner')
print(df.head())
print(df.info())

        SERIALNO  TEN  HHL  VEH    HINCP  R65  R18  SEX  AGEP  SCHL
0  2018HU0000173  1.0  1.0  2.0  70000.0  2.0  0.0    1    70  21.0
1  2018HU0000173  1.0  1.0  2.0  70000.0  2.0  0.0    2    73  21.0
2  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    2    40  12.0
3  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    1    40  12.0
4  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    2    70  22.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42643 entries, 0 to 42642
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  42643 non-null  object
 1   TEN       42643 non-null  float64
 2   HHL       42643 non-null  float64
 3   VEH       42643 non-null  float64
 4   HINCP     42643 non-null  float64
 5   R65       42643 non-null  float64
 6   R18       42643 non-null  float64
 7   SEX       42643 non-null  int64
 8   AGEP      42643 non-null  int64
 9   SCHL      42643 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 3.3+ MB
None

In [8]:
# create a ordering for the later appending of the households 
df_sorted = df.sort_values(by=['SERIALNO', 'AGEP'], ascending=[True, True])
df['ORDER'] = df_sorted.groupby('SERIALNO').cumcount()+1
print(df.head())
print(df.info())

        SERIALNO  TEN  HHL  VEH    HINCP  R65  R18  SEX  AGEP  SCHL  ORDER
0  2018HU0000173  1.0  1.0  2.0  70000.0  2.0  0.0    1    70  21.0      1
1  2018HU0000173  1.0  1.0  2.0  70000.0  2.0  0.0    2    73  21.0      2
2  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    2    40  12.0      1
3  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    1    40  12.0      2
4  2018HU0001350  1.0  1.0  0.0  22500.0  1.0  0.0    2    70  22.0      4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42643 entries, 0 to 42642
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  42643 non-null  object
 1   TEN       42643 non-null  float64
 2   HHL       42643 non-null  float64
 3   VEH       42643 non-null  float64
 4   HINCP     42643 non-null  float64
 5   R65       42643 non-null  float64
 6   R18       42643 non-null  float64
 7   SEX       42643 non-null  int64
 8   AGEP      42643 non-null  int64
 9   SCHL      42643 non-null  float64
 10  ORDER     42643 non-null  int64
dtypes: float64(7), int64(3), object(1)
memory usage: 3.6+ MB
None

In [9]:
# Apply the grouping to each continuous variable

hincp_bins = [0, 5000, 10000, 15000, 20000, 25000, 35000, 50000, 75000, 100000, 150000, np.inf]
hincp_labels = ['under 5k', '5k-10k', '10k-15k', '15k-20k', '20k-25k', '25k-35k', '35k-50k', '50k-75k', '75k-100k', '100k-150k', '150k+']

# right = False: right open, left closed
df['HINCP'] = pd.cut(df['HINCP'], bins=hincp_bins, labels=hincp_labels, right=False, include_lowest=True)
#df = df[df['HINCP'] != 'excluded']

In [10]:
TEN_bins = [0, 2, 3]
TEN_labels = ['owned or mortgaged', 'rented']

df['TEN'] = pd.cut(df['TEN'], bins=TEN_bins, labels=TEN_labels)

In [11]:
R18_bins = [0, 1, 2]
R18_labels = ['no', 'yes']

# right = False: right open, left closed
df['R18'] = pd.cut(df['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)

R65_bins = [0, 1, 2]
R65_labels = ['no', 'yes']

df['R65'] = pd.cut(df['R65'], bins=R65_bins, labels=R65_labels, right=False, include_lowest=True)

# test dataframe to see correct binning

#test = pd.DataFrame()
#test['R18'] = [0, 1, 2]
#
#test['R18'] = pd.cut(test['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)
#
#print(test)

In [12]:
HHL_bins = [0, 1, 2, 3, 4, np.inf]
HHL_labels = ['english', 'spanish', 'other indo-european', 'asian and pacific island languages', 'other']

# test dataframe to see if bins are correct 
#test = pd.DataFrame()
#test['HHL'] = [0, 1, 2, 3]
#test['HHL'] = pd.cut(test['HHL'], bins=HHL_bins, labels=HHL_labels)

#print(test)

df['HHL'] = pd.cut(df['HHL'], bins=HHL_bins, labels=HHL_labels)

In [13]:
VEH_bins = [0, 1, 2, 3, 4, np.inf]
VEH_labels = ['no vehicles', '1 vehicle', '2 vehicles', '3 vehicles', '4 or more vehicles'] 

df['VEH'] = pd.cut(df['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)


#test = pd.DataFrame()
#test['VEH'] = [0, 1, 2, 3, 4, 5]
#test['VEH'] = pd.cut(test['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)
#
#print(test)

In [14]:
SEX_bins = [0, 1, 2]
SEX_labels = ['male', 'female']

df['SEX'] = pd.cut(df['SEX'], bins=SEX_bins, labels=SEX_labels)

In [15]:
AGEP_bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, np.inf]
AGEP_labels = ['under 5', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85+']

df['AGEP'] = pd.cut(df['AGEP'], bins=AGEP_bins, labels=AGEP_labels, right=False, include_lowest=True)

In [16]:
SCHL_bins = [0, 4, 12, 18, 21, 22, np.inf]

SCHL_labels = ['other', 'less than high school', 'high school', 'college or associate', 'bachelor', 'graduate']
#
df['SCHL'] = pd.cut(df['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)


#test = pd.DataFrame()
#test['SCHL'] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
#test['SCHL'] = pd.cut(test['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)
##
#print(test)

In [19]:
df.dropna(inplace=True)

In [20]:
print(df.head())
print(df.info())

        SERIALNO                 TEN      HHL          VEH    HINCP  R65  R18  \
2  2018HU0001350  owned or mortgaged  english  no vehicles  20k-25k  yes   no
3  2018HU0001350  owned or mortgaged  english  no vehicles  20k-25k  yes   no
4  2018HU0001350  owned or mortgaged  english  no vehicles  20k-25k  yes   no
5  2018HU0001350  owned or mortgaged  english  no vehicles  20k-25k  yes   no
8  2018HU0002139  owned or mortgaged    other    1 vehicle    150k+   no  yes

      SEX   AGEP                   SCHL  ORDER
2  female  40-44            high school      1
3    male  40-44            high school      2
4  female  70-74               graduate      4
5    male  40-44  less than high school      3
8  female  50-54               graduate      2
<class 'pandas.core.frame.DataFrame'>
Index: 34252 entries, 2 to 42640
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  34252 non-null  object
 1   TEN       34252 non-null  category
 2   HHL       34252 non-null  category
 3   VEH       34252 non-null  category
 4   HINCP     34252 non-null  category
 5   R65       34252 non-null  category
 6   R18       34252 non-null  category
 7   SEX       34252 non-null  category
 8   AGEP      34252 non-null  category
 9   SCHL      34252 non-null  category
 10  ORDER     34252 non-null  int64
dtypes: category(9), int64(1), object(1)
memory usage: 1.1+ MB
None

In [30]:
# converting the df to having only one entry per serialno

static_cols = h_colums_to_keep
static_df = df[static_cols].drop_duplicates('SERIALNO')

#print(static_df.head())
print(static_df.info())

attributes = ['SEX', 'AGEP', 'SCHL']

pivoted_df = []

for attribute in attributes:
    tmp = df.pivot(index='SERIALNO', columns='ORDER', values=attribute)
    tmp.columns = [f'{attribute}_{col}' for col in tmp.columns]
    pivoted_df.append(tmp)

pivoted_df = pd.concat(pivoted_df, axis=1)
pivoted_df.reset_index(inplace=True)
#print(pivoted_df.head())
print(pivoted_df.info())

#df_flattened = pd.concat([static_df, pivoted_df], axis=0)#.drop('SERIALNO', axis=1)
df_flattened = pd.merge(static_df, pivoted_df, on='SERIALNO', how='inner').drop('SERIALNO', axis=1)
#print(df_flattened.head())
#print(df_flattened.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15256 entries, 2 to 42638
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  15256 non-null  object
 1   TEN       15256 non-null  category
 2   HHL       15256 non-null  category
 3   VEH       15256 non-null  category
 4   HINCP     15256 non-null  category
 5   R65       15256 non-null  category
 6   R18       15256 non-null  category
dtypes: category(6), object(1)
memory usage: 328.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15256 entries, 0 to 15255
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  15256 non-null  object
 1   SEX_1     15256 non-null  category
 2   SEX_2     9974 non-null   category
 3   SEX_3     4948 non-null   category
 4   SEX_4     2615 non-null   category
 5   SEX_5     962 non-null    category
 6   SEX_6     318 non-null    category
 7   SEX_7     108 non-null    category
 8   SEX_8     37 non-null     category
 9   SEX_9     17 non-null     category
 10  SEX_10    8 non-null      category
 11  SEX_11    5 non-null      category
 12  SEX_12    2 non-null      category
 13  SEX_13    1 non-null      category
 14  SEX_14    1 non-null      category
 15  AGEP_1    15256 non-null  category
 16  AGEP_2    9974 non-null   category
 17  AGEP_3    4948 non-null   category
 18  AGEP_4    2615 non-null   category
 19  AGEP_5    962 non-null    category
 20  AGEP_6    318 non-null    category
 21  AGEP_7    108 non-null    category
 22  AGEP_8    37 non-null     category
 23  AGEP_9    17 non-null     category
 24  AGEP_10   8 non-null      category
 25  AGEP_11   5 non-null      category
 26  AGEP_12   2 non-null      category
 27  AGEP_13   1 non-null      category
 28  AGEP_14   1 non-null      category
 29  SCHL_1    15256 non-null  category
 30  SCHL_2    9974 non-null   category
 31  SCHL_3    4948 non-null   category
 32  SCHL_4    2615 non-null   category
 33  SCHL_5    962 non-null    category
 34  SCHL_6    318 non-null    category
 35  SCHL_7    108 non-null    category
 36  SCHL_8    37 non-null     category
 37  SCHL_9    17 non-null     category
 38  SCHL_10   8 non-null      category
 39  SCHL_11   5 non-null      category
 40  SCHL_12   2 non-null      category
 41  SCHL_13   1 non-null      category
 42  SCHL_14   1 non-null      category
dtypes: category(42), object(1)
memory usage: 759.3+ KB
None

In [22]:
print(df_flattened.head())
print(df_flattened.info())

                  TEN                                 HHL          VEH  \
0  owned or mortgaged                             english  no vehicles
1  owned or mortgaged                               other    1 vehicle
2  owned or mortgaged                             spanish   2 vehicles
3  owned or mortgaged                             english    1 vehicle
4              rented  asian and pacific island languages    1 vehicle

       HINCP  R65  R18   SEX_1   SEX_2   SEX_3   SEX_4  ...       SCHL_5  \
0    20k-25k  yes   no  female    male    male  female  ...          NaN
1      150k+   no  yes  female  female    male     NaN  ...          NaN
2    20k-25k   no  yes  female  female  female  female  ...  high school
3    35k-50k  yes   no    male     NaN     NaN     NaN  ...          NaN
4  100k-150k   no   no  female     NaN     NaN     NaN  ...          NaN

        SCHL_6 SCHL_7 SCHL_8 SCHL_9 SCHL_10 SCHL_11 SCHL_12 SCHL_13 SCHL_14
0          NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
1          NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
2  high school    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
3          NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN
4          NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN

[5 rows x 48 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15256 entries, 0 to 15255
Data columns (total 48 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TEN      15256 non-null  category
 1   HHL      15256 non-null  category
 2   VEH      15256 non-null  category
 3   HINCP    15256 non-null  category
 4   R65      15256 non-null  category
 5   R18      15256 non-null  category
 6   SEX_1    15256 non-null  category
 7   SEX_2    9974 non-null   category
 8   SEX_3    4948 non-null   category
 9   SEX_4    2615 non-null   category
 10  SEX_5    962 non-null    category
 11  SEX_6    318 non-null    category
 12  SEX_7    108 non-null    category
 13  SEX_8    37 non-null     category
 14  SEX_9    17 non-null     category
 15  SEX_10   8 non-null      category
 16  SEX_11   5 non-null      category
 17  SEX_12   2 non-null      category
 18  SEX_13   1 non-null      category
 19  SEX_14   1 non-null      category
 20  AGEP_1   15256 non-null  category
 21  AGEP_2   9974 non-null   category
 22  AGEP_3   4948 non-null   category
 23  AGEP_4   2615 non-null   category
 24  AGEP_5   962 non-null    category
 25  AGEP_6   318 non-null    category
 26  AGEP_7   108 non-null    category
 27  AGEP_8   37 non-null     category
 28  AGEP_9   17 non-null     category
 29  AGEP_10  8 non-null      category
 30  AGEP_11  5 non-null      category
 31  AGEP_12  2 non-null      category
 32  AGEP_13  1 non-null      category
 33  AGEP_14  1 non-null      category
 34  SCHL_1   15256 non-null  category
 35  SCHL_2   9974 non-null   category
 36  SCHL_3   4948 non-null   category
 37  SCHL_4   2615 non-null   category
 38  SCHL_5   962 non-null    category
 39  SCHL_6   318 non-null    category
 40  SCHL_7   108 non-null    category
 41  SCHL_8   37 non-null     category
 42  SCHL_9   17 non-null     category
 43  SCHL_10  8 non-null      category
 44  SCHL_11  5 non-null      category
 45  SCHL_12  2 non-null      category
 46  SCHL_13  1 non-null      category
 47  SCHL_14  1 non-null      category
dtypes: category(48)
memory usage: 730.7 KB
None

In [ ]:
# create one hot encoding for each category 
df_pivoted_cols = pivoted_df.columns.tolist()
df_pivoted_cols.remove('SERIALNO')
print(df_pivoted_cols)
df_non_pivot = df_flattened.drop(columns=df_pivoted_cols)

df_non_pivot = pd.get_dummies(df_non_pivot, columns=df_non_pivot.columns, prefix_sep=':', dtype=int, dummy_na=False)

df_pivoted = df_flattened[df_pivoted_cols]

df_pivoted = pd.get_dummies(df_pivoted, columns=df_pivoted.columns, prefix_sep=':', dtype=int, dummy_na=True)

df_onehot = pd.concat([df_non_pivot, df_pivoted], axis=1) 

# use this command to get the non nan one hot encoding 
#df_onehot = pd.get_dummies(df_flattened, columns=df_flattened.columns, prefix_sep=':', dtype=int)

['SEX_1', 'SEX_2', 'SEX_3', 'SEX_4', 'SEX_5', 'SEX_6', 'SEX_7', 'SEX_8', 'SEX_9', 'SEX_10', 'SEX_11', 'SEX_12', 'SEX_13', 'SEX_14', 'AGEP_1', 'AGEP_2', 'AGEP_3', 'AGEP_4', 'AGEP_5', 'AGEP_6', 'AGEP_7', 'AGEP_8', 'AGEP_9', 'AGEP_10', 'AGEP_11', 'AGEP_12', 'AGEP_13', 'AGEP_14', 'SCHL_1', 'SCHL_2', 'SCHL_3', 'SCHL_4', 'SCHL_5', 'SCHL_6', 'SCHL_7', 'SCHL_8', 'SCHL_9', 'SCHL_10', 'SCHL_11', 'SCHL_12', 'SCHL_13', 'SCHL_14']

In [38]:
print(df_onehot.head())
print(df_onehot.info())

   TEN:owned or mortgaged  TEN:rented  HHL:english  HHL:spanish  \
0                       1           0            1            0
1                       1           0            0            0
2                       1           0            0            1
3                       1           0            1            0
4                       0           1            0            0

   HHL:other indo-european  HHL:asian and pacific island languages  HHL:other  \
0                        0                                       0          0
1                        0                                       0          1
2                        0                                       0          0
3                        0                                       0          0
4                        0                                       1          0

   VEH:no vehicles  VEH:1 vehicle  VEH:2 vehicles  ...  SCHL_13:bachelor  \
0                1              0               0  ...                 0
1                0              1               0  ...                 0
2                0              0               1  ...                 0
3                0              1               0  ...                 0
4                0              1               0  ...                 0

   SCHL_13:graduate  SCHL_13:nan  SCHL_14:other  \
0                 0            1              0
1                 0            1              0
2                 0            1              0
3                 0            1              0
4                 0            1              0

   SCHL_14:less than high school  SCHL_14:high school  \
0                              0                    0
1                              0                    0
2                              0                    0
3                              0                    0
4                              0                    0

   SCHL_14:college or associate  SCHL_14:bachelor  SCHL_14:graduate  \
0                             0                 0                 0
1                             0                 0                 0
2                             0                 0                 0
3                             0                 0                 0
4                             0                 0                 0

   SCHL_14:nan
0            1
1            1
2            1
3            1
4            1

[5 rows x 433 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15256 entries, 0 to 15255
Columns: 433 entries, TEN:owned or mortgaged to SCHL_14:nan
dtypes: int64(433)
memory usage: 50.4 MB
None

In [39]:
# drop zero columns 
#df_onehot = df_onehot.loc[:, (df_onehot.sum() != 0)]
df_onehot.to_csv('/mnt/a/csv_hde/one_hot_data.csv', index=False)

In [40]:
# compute ration of 0s to 1s 

unique_values = np.unique(df_onehot.values, return_counts=True)
print(unique_values)

# compute the ratio of 0s to 1s
ratio = unique_values[1][1] / unique_values[1][0]
print(f'{ratio:.3f}')

(array([0, 1]), array([5873560,  732288]))
0.125