In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = 'one_hot_pNaNs_agep_small.csv'
sort_by = 'AGEP'
ascending = False

In [3]:
# loading the delaware data 
df_h = pd.read_csv('/workspace/data/psam_h10_small.csv')
df_p = pd.read_csv('/workspace/data/psam_p10_small.csv')

In [4]:
h_colums_to_keep = ['SERIALNO', 'TEN', 'HHL', 'VEH', 'HINCP', 'R65', 'R18']
p_colums_to_keep = ['SERIALNO', 'SEX', 'AGEP', 'SCHL'] 


df_h_filtered = df_h.filter(items=h_colums_to_keep)
df_p_filtered = df_p.filter(items=p_colums_to_keep)

In [5]:
#df_h_clean = pd.concat([df_h_a_filtered, df_h_b_filtered, df_h_c_filtered, df_h_d_filtered])
print(df_h_filtered.head())
print(df_h_filtered.info())

        SERIALNO  TEN  HHL  VEH  HINCP  R65  R18
0  2022GQ0000148  NaN  NaN  NaN    NaN  NaN  NaN
1  2022GQ0000610  NaN  NaN  NaN    NaN  NaN  NaN
2  2022GQ0001044  NaN  NaN  NaN    NaN  NaN  NaN
3  2022GQ0001089  NaN  NaN  NaN    NaN  NaN  NaN
4  2022GQ0001666  NaN  NaN  NaN    NaN  NaN  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4963 entries, 0 to 4962
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  4963 non-null   object
 1   TEN       4094 non-null   float64
 2   HHL       4094 non-null   float64
 3   VEH       4094 non-null   float64
 4   HINCP     4094 non-null   float64
 5   R65       4094 non-null   float64
 6   R18       4094 non-null   float64
dtypes: float64(6), object(1)
memory usage: 271.5+ KB
None

In [6]:
# merge the two dataframes on the SERIALNO column
df = pd.merge(df_h_filtered, df_p_filtered, on='SERIALNO', how='inner')
print(df.head())
print(df.info())

        SERIALNO  TEN  HHL  VEH  HINCP  R65  R18  SEX  AGEP  SCHL
0  2022GQ0000148  NaN  NaN  NaN    NaN  NaN  NaN    2    84  21.0
1  2022GQ0000610  NaN  NaN  NaN    NaN  NaN  NaN    2    39  16.0
2  2022GQ0001044  NaN  NaN  NaN    NaN  NaN  NaN    2    19  19.0
3  2022GQ0001089  NaN  NaN  NaN    NaN  NaN  NaN    2    77  21.0
4  2022GQ0001666  NaN  NaN  NaN    NaN  NaN  NaN    2    18  16.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  9641 non-null   object
 1   TEN       9336 non-null   float64
 2   HHL       9336 non-null   float64
 3   VEH       9336 non-null   float64
 4   HINCP     9336 non-null   float64
 5   R65       9336 non-null   float64
 6   R18       9336 non-null   float64
 7   SEX       9641 non-null   int64
 8   AGEP      9641 non-null   int64
 9   SCHL      9417 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 753.3+ KB
None

In [7]:
# create a ordering for the later appending of the households 
df_sorted = df.sort_values(by=['SERIALNO', sort_by], ascending=[True, ascending])
df['ORDER'] = df_sorted.groupby('SERIALNO').cumcount()+1
print(df.head())
print(df.info())

        SERIALNO  TEN  HHL  VEH  HINCP  R65  R18  SEX  AGEP  SCHL  ORDER
0  2022GQ0000148  NaN  NaN  NaN    NaN  NaN  NaN    2    84  21.0      1
1  2022GQ0000610  NaN  NaN  NaN    NaN  NaN  NaN    2    39  16.0      1
2  2022GQ0001044  NaN  NaN  NaN    NaN  NaN  NaN    2    19  19.0      1
3  2022GQ0001089  NaN  NaN  NaN    NaN  NaN  NaN    2    77  21.0      1
4  2022GQ0001666  NaN  NaN  NaN    NaN  NaN  NaN    2    18  16.0      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  9641 non-null   object
 1   TEN       9336 non-null   float64
 2   HHL       9336 non-null   float64
 3   VEH       9336 non-null   float64
 4   HINCP     9336 non-null   float64
 5   R65       9336 non-null   float64
 6   R18       9336 non-null   float64
 7   SEX       9641 non-null   int64
 8   AGEP      9641 non-null   int64
 9   SCHL      9417 non-null   float64
 10  ORDER     9641 non-null   int64
dtypes: float64(7), int64(3), object(1)
memory usage: 828.6+ KB
None

In [8]:
# Apply the grouping to each continuous variable

hincp_bins = [0, 5000, 10000, 15000, 20000, 25000, 35000, 50000, 75000, 100000, 150000, np.inf]
hincp_labels = ['under 5k', '5k-10k', '10k-15k', '15k-20k', '20k-25k', '25k-35k', '35k-50k', '50k-75k', '75k-100k', '100k-150k', '150k+']

# right = False: right open, left closed
df['HINCP'] = pd.cut(df['HINCP'], bins=hincp_bins, labels=hincp_labels, right=False, include_lowest=True)
#df = df[df['HINCP'] != 'excluded']

In [9]:
TEN_bins = [0, 2, 3]
TEN_labels = ['owned or mortgaged', 'rented']

df['TEN'] = pd.cut(df['TEN'], bins=TEN_bins, labels=TEN_labels)

In [10]:
R18_bins = [0, 1, 2]
R18_labels = ['no', 'yes']

# right = False: right open, left closed
df['R18'] = pd.cut(df['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)

R65_bins = [0, 1, 2]
R65_labels = ['no', 'yes']

df['R65'] = pd.cut(df['R65'], bins=R65_bins, labels=R65_labels, right=False, include_lowest=True)

# test dataframe to see correct binning

#test = pd.DataFrame()
#test['R18'] = [0, 1, 2]
#
#test['R18'] = pd.cut(test['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)
#
#print(test)

In [11]:
HHL_bins = [0, 1, 2, 3, 4, np.inf]
HHL_labels = ['english', 'spanish', 'other indo-european', 'asian and pacific island languages', 'other']

# test dataframe to see if bins are correct 
#test = pd.DataFrame()
#test['HHL'] = [0, 1, 2, 3]
#test['HHL'] = pd.cut(test['HHL'], bins=HHL_bins, labels=HHL_labels)

#print(test)

df['HHL'] = pd.cut(df['HHL'], bins=HHL_bins, labels=HHL_labels)

In [12]:
VEH_bins = [0, 1, 2, 3, 4, np.inf]
VEH_labels = ['no vehicles', '1 vehicle', '2 vehicles', '3 vehicles', '4 or more vehicles'] 

df['VEH'] = pd.cut(df['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)


#test = pd.DataFrame()
#test['VEH'] = [0, 1, 2, 3, 4, 5]
#test['VEH'] = pd.cut(test['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)
#
#print(test)

In [13]:
SEX_bins = [0, 1, 2]
SEX_labels = ['male', 'female']

df['SEX'] = pd.cut(df['SEX'], bins=SEX_bins, labels=SEX_labels)

In [14]:
AGEP_bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, np.inf]
AGEP_labels = ['under 5', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85+']

df['AGEP'] = pd.cut(df['AGEP'], bins=AGEP_bins, labels=AGEP_labels, right=False, include_lowest=True)

In [15]:
SCHL_bins = [0, 4, 12, 18, 21, 22, np.inf]

SCHL_labels = ['other', 'less than high school', 'high school', 'college or associate', 'bachelor', 'graduate']
#
df['SCHL'] = pd.cut(df['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)


#test = pd.DataFrame()
#test['SCHL'] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
#test['SCHL'] = pd.cut(test['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)
##
#print(test)

In [16]:
# Not executed for the dataset
df.dropna(inplace=True)

In [17]:
print(df.head())
print(df.info())

          SERIALNO                 TEN      HHL         VEH    HINCP  R65  \
305  2022HU0000526  owned or mortgaged  english   1 vehicle   5k-10k  yes
306  2022HU0001117  owned or mortgaged  english  2 vehicles  50k-75k   no
307  2022HU0001117  owned or mortgaged  english  2 vehicles  50k-75k   no
308  2022HU0001117  owned or mortgaged  english  2 vehicles  50k-75k   no
309  2022HU0001117  owned or mortgaged  english  2 vehicles  50k-75k   no

     R18     SEX   AGEP         SCHL  ORDER
305   no    male  70-74     bachelor      1
306  yes  female  40-44  high school      2
307  yes    male  45-49  high school      1
308  yes  female  20-24  high school      3
309  yes    male  15-19  high school      4
<class 'pandas.core.frame.DataFrame'>
Index: 7033 entries, 305 to 9638
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  7033 non-null   object
 1   TEN       7033 non-null   category
 2   HHL       7033 non-null   category
 3   VEH       7033 non-null   category
 4   HINCP     7033 non-null   category
 5   R65       7033 non-null   category
 6   R18       7033 non-null   category
 7   SEX       7033 non-null   category
 8   AGEP      7033 non-null   category
 9   SCHL      7033 non-null   category
 10  ORDER     7033 non-null   int64
dtypes: category(9), int64(1), object(1)
memory usage: 228.8+ KB
None

In [18]:
# converting the df to having only one entry per serialno

static_cols = h_colums_to_keep
static_df = df[static_cols].drop_duplicates('SERIALNO')

#print(static_df.head())
print(static_df.info())

attributes = ['SEX', 'AGEP', 'SCHL']

pivoted_df = []

for attribute in attributes:
    tmp = df.pivot(index='SERIALNO', columns='ORDER', values=attribute)
    tmp.columns = [f'{attribute}_{col}' for col in tmp.columns]
    pivoted_df.append(tmp)

pivoted_df = pd.concat(pivoted_df, axis=1)
pivoted_df.reset_index(inplace=True)
#print(pivoted_df.head())
print(pivoted_df.info())

#df_flattened = pd.concat([static_df, pivoted_df], axis=0)#.drop('SERIALNO', axis=1)
df_flattened = pd.merge(static_df, pivoted_df, on='SERIALNO', how='inner').drop('SERIALNO', axis=1)
#print(df_flattened.head())
#print(df_flattened.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3156 entries, 305 to 9636
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  3156 non-null   object
 1   TEN       3156 non-null   category
 2   HHL       3156 non-null   category
 3   VEH       3156 non-null   category
 4   HINCP     3156 non-null   category
 5   R65       3156 non-null   category
 6   R18       3156 non-null   category
dtypes: category(6), object(1)
memory usage: 69.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3156 entries, 0 to 3155
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SERIALNO  3156 non-null   object
 1   SEX_1     3156 non-null   category
 2   SEX_2     2037 non-null   category
 3   SEX_3     1013 non-null   category
 4   SEX_4     537 non-null    category
 5   SEX_5     193 non-null    category
 6   SEX_6     61 non-null     category
 7   SEX_7     20 non-null     category
 8   SEX_8     9 non-null      category
 9   SEX_9     2 non-null      category
 10  SEX_10    1 non-null      category
 11  SEX_11    1 non-null      category
 12  SEX_12    1 non-null      category
 13  SEX_13    1 non-null      category
 14  SEX_14    1 non-null      category
 15  AGEP_1    3156 non-null   category
 16  AGEP_2    2037 non-null   category
 17  AGEP_3    1013 non-null   category
 18  AGEP_4    537 non-null    category
 19  AGEP_5    193 non-null    category
 20  AGEP_6    61 non-null     category
 21  AGEP_7    20 non-null     category
 22  AGEP_8    9 non-null      category
 23  AGEP_9    2 non-null      category
 24  AGEP_10   1 non-null      category
 25  AGEP_11   1 non-null      category
 26  AGEP_12   1 non-null      category
 27  AGEP_13   1 non-null      category
 28  AGEP_14   1 non-null      category
 29  SCHL_1    3156 non-null   category
 30  SCHL_2    2037 non-null   category
 31  SCHL_3    1013 non-null   category
 32  SCHL_4    537 non-null    category
 33  SCHL_5    193 non-null    category
 34  SCHL_6    61 non-null     category
 35  SCHL_7    20 non-null     category
 36  SCHL_8    9 non-null      category
 37  SCHL_9    2 non-null      category
 38  SCHL_10   1 non-null      category
 39  SCHL_11   1 non-null      category
 40  SCHL_12   1 non-null      category
 41  SCHL_13   1 non-null      category
 42  SCHL_14   1 non-null      category
dtypes: category(42), object(1)
memory usage: 168.5+ KB
None

In [19]:
print(df_flattened.head())
print(df_flattened.info())

                  TEN      HHL                 VEH      HINCP  R65  R18  \
0  owned or mortgaged  english           1 vehicle     5k-10k  yes   no
1  owned or mortgaged  english          2 vehicles    50k-75k   no  yes
2  owned or mortgaged  english          2 vehicles  100k-150k   no  yes
3  owned or mortgaged  english  4 or more vehicles      150k+   no  yes
4  owned or mortgaged  english          2 vehicles    50k-75k   no  yes

    SEX_1   SEX_2   SEX_3   SEX_4  ...                 SCHL_5  \
0    male     NaN     NaN     NaN  ...                    NaN
1    male  female  female    male  ...  less than high school
2  female    male     NaN     NaN  ...                    NaN
3    male  female    male    male  ...  less than high school
4  female    male  female  female  ...                  other

                  SCHL_6 SCHL_7 SCHL_8 SCHL_9 SCHL_10 SCHL_11 SCHL_12 SCHL_13  \
0                    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
1  less than high school  other  other  other     NaN     NaN     NaN     NaN
2                    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
3                    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN
4                    NaN    NaN    NaN    NaN     NaN     NaN     NaN     NaN

  SCHL_14
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

[5 rows x 48 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3156 entries, 0 to 3155
Data columns (total 48 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TEN      3156 non-null   category
 1   HHL      3156 non-null   category
 2   VEH      3156 non-null   category
 3   HINCP    3156 non-null   category
 4   R65      3156 non-null   category
 5   R18      3156 non-null   category
 6   SEX_1    3156 non-null   category
 7   SEX_2    2037 non-null   category
 8   SEX_3    1013 non-null   category
 9   SEX_4    537 non-null    category
 10  SEX_5    193 non-null    category
 11  SEX_6    61 non-null     category
 12  SEX_7    20 non-null     category
 13  SEX_8    9 non-null      category
 14  SEX_9    2 non-null      category
 15  SEX_10   1 non-null      category
 16  SEX_11   1 non-null      category
 17  SEX_12   1 non-null      category
 18  SEX_13   1 non-null      category
 19  SEX_14   1 non-null      category
 20  AGEP_1   3156 non-null   category
 21  AGEP_2   2037 non-null   category
 22  AGEP_3   1013 non-null   category
 23  AGEP_4   537 non-null    category
 24  AGEP_5   193 non-null    category
 25  AGEP_6   61 non-null     category
 26  AGEP_7   20 non-null     category
 27  AGEP_8   9 non-null      category
 28  AGEP_9   2 non-null      category
 29  AGEP_10  1 non-null      category
 30  AGEP_11  1 non-null      category
 31  AGEP_12  1 non-null      category
 32  AGEP_13  1 non-null      category
 33  AGEP_14  1 non-null      category
 34  SCHL_1   3156 non-null   category
 35  SCHL_2   2037 non-null   category
 36  SCHL_3   1013 non-null   category
 37  SCHL_4   537 non-null    category
 38  SCHL_5   193 non-null    category
 39  SCHL_6   61 non-null     category
 40  SCHL_7   20 non-null     category
 41  SCHL_8   9 non-null      category
 42  SCHL_9   2 non-null      category
 43  SCHL_10  1 non-null      category
 44  SCHL_11  1 non-null      category
 45  SCHL_12  1 non-null      category
 46  SCHL_13  1 non-null      category
 47  SCHL_14  1 non-null      category
dtypes: category(48)
memory usage: 163.5 KB
None

In [20]:
# create one hot encoding

# only NaN category for the persons attributes
df_pivoted_cols = pivoted_df.columns.tolist()
df_pivoted_cols.remove('SERIALNO')
#print(df_pivoted_cols)
df_non_pivot = df_flattened.drop(columns=df_pivoted_cols)

df_non_pivot = pd.get_dummies(df_non_pivot, columns=df_non_pivot.columns, prefix_sep=':', dtype=int, dummy_na=False)

df_pivoted = df_flattened[df_pivoted_cols]

df_pivoted = pd.get_dummies(df_pivoted, columns=df_pivoted.columns, prefix_sep=':', dtype=int, dummy_na=True)

df_onehot = pd.concat([df_non_pivot, df_pivoted], axis=1) 



# use this command to get the non nan one hot encoding 
#df_onehot = pd.get_dummies(df_flattened, columns=df_flattened.columns, prefix_sep=':', dtype=int)


# create dummies for one hot encoding for all columns  -- Just override the previous df_onehot
#df_onehot = pd.get_dummies(df_flattened, columns=df_flattened.columns, prefix_sep=':', dtype=int, dummy_na=True)

print(list(df_onehot.columns))

['TEN:owned or mortgaged', 'TEN:rented', 'HHL:english', 'HHL:spanish', 'HHL:other indo-european', 'HHL:asian and pacific island languages', 'HHL:other', 'VEH:no vehicles', 'VEH:1 vehicle', 'VEH:2 vehicles', 'VEH:3 vehicles', 'VEH:4 or more vehicles', 'HINCP:under 5k', 'HINCP:5k-10k', 'HINCP:10k-15k', 'HINCP:15k-20k', 'HINCP:20k-25k', 'HINCP:25k-35k', 'HINCP:35k-50k', 'HINCP:50k-75k', 'HINCP:75k-100k', 'HINCP:100k-150k', 'HINCP:150k+', 'R65:no', 'R65:yes', 'R18:no', 'R18:yes', 'SEX_1:male', 'SEX_1:female', 'SEX_1:nan', 'SEX_2:male', 'SEX_2:female', 'SEX_2:nan', 'SEX_3:male', 'SEX_3:female', 'SEX_3:nan', 'SEX_4:male', 'SEX_4:female', 'SEX_4:nan', 'SEX_5:male', 'SEX_5:female', 'SEX_5:nan', 'SEX_6:male', 'SEX_6:female', 'SEX_6:nan', 'SEX_7:male', 'SEX_7:female', 'SEX_7:nan', 'SEX_8:male', 'SEX_8:female', 'SEX_8:nan', 'SEX_9:male', 'SEX_9:female', 'SEX_9:nan', 'SEX_10:male', 'SEX_10:female', 'SEX_10:nan', 'SEX_11:male', 'SEX_11:female', 'SEX_11:nan', 'SEX_12:male', 'SEX_12:female', 'SEX_12:nan', 'SEX_13:male', 'SEX_13:female', 'SEX_13:nan', 'SEX_14:male', 'SEX_14:female', 'SEX_14:nan', 'AGEP_1:under 5', 'AGEP_1:5-9', 'AGEP_1:10-14', 'AGEP_1:15-19', 'AGEP_1:20-24', 'AGEP_1:25-29', 'AGEP_1:30-34', 'AGEP_1:35-39', 'AGEP_1:40-44', 'AGEP_1:45-49', 'AGEP_1:50-54', 'AGEP_1:55-59', 'AGEP_1:60-64', 'AGEP_1:65-69', 'AGEP_1:70-74', 'AGEP_1:75-79', 'AGEP_1:80-84', 'AGEP_1:85+', 'AGEP_1:nan', 'AGEP_2:under 5', 'AGEP_2:5-9', 'AGEP_2:10-14', 'AGEP_2:15-19', 'AGEP_2:20-24', 'AGEP_2:25-29', 'AGEP_2:30-34', 'AGEP_2:35-39', 'AGEP_2:40-44', 'AGEP_2:45-49', 'AGEP_2:50-54', 'AGEP_2:55-59', 'AGEP_2:60-64', 'AGEP_2:65-69', 'AGEP_2:70-74', 'AGEP_2:75-79', 'AGEP_2:80-84', 'AGEP_2:85+', 'AGEP_2:nan', 'AGEP_3:under 5', 'AGEP_3:5-9', 'AGEP_3:10-14', 'AGEP_3:15-19', 'AGEP_3:20-24', 'AGEP_3:25-29', 'AGEP_3:30-34', 'AGEP_3:35-39', 'AGEP_3:40-44', 'AGEP_3:45-49', 'AGEP_3:50-54', 'AGEP_3:55-59', 'AGEP_3:60-64', 'AGEP_3:65-69', 'AGEP_3:70-74', 'AGEP_3:75-79', 'AGEP_3:80-84', 'AGEP_3:85+', 'AGEP_3:nan', 'AGEP_4:under 5', 'AGEP_4:5-9', 'AGEP_4:10-14', 'AGEP_4:15-19', 'AGEP_4:20-24', 'AGEP_4:25-29', 'AGEP_4:30-34', 'AGEP_4:35-39', 'AGEP_4:40-44', 'AGEP_4:45-49', 'AGEP_4:50-54', 'AGEP_4:55-59', 'AGEP_4:60-64', 'AGEP_4:65-69', 'AGEP_4:70-74', 'AGEP_4:75-79', 'AGEP_4:80-84', 'AGEP_4:85+', 'AGEP_4:nan', 'AGEP_5:under 5', 'AGEP_5:5-9', 'AGEP_5:10-14', 'AGEP_5:15-19', 'AGEP_5:20-24', 'AGEP_5:25-29', 'AGEP_5:30-34', 'AGEP_5:35-39', 'AGEP_5:40-44', 'AGEP_5:45-49', 'AGEP_5:50-54', 'AGEP_5:55-59', 'AGEP_5:60-64', 'AGEP_5:65-69', 'AGEP_5:70-74', 'AGEP_5:75-79', 'AGEP_5:80-84', 'AGEP_5:85+', 'AGEP_5:nan', 'AGEP_6:under 5', 'AGEP_6:5-9', 'AGEP_6:10-14', 'AGEP_6:15-19', 'AGEP_6:20-24', 'AGEP_6:25-29', 'AGEP_6:30-34', 'AGEP_6:35-39', 'AGEP_6:40-44', 'AGEP_6:45-49', 'AGEP_6:50-54', 'AGEP_6:55-59', 'AGEP_6:60-64', 'AGEP_6:65-69', 'AGEP_6:70-74', 'AGEP_6:75-79', 'AGEP_6:80-84', 'AGEP_6:85+', 'AGEP_6:nan', 'AGEP_7:under 5', 'AGEP_7:5-9', 'AGEP_7:10-14', 'AGEP_7:15-19', 'AGEP_7:20-24', 'AGEP_7:25-29', 'AGEP_7:30-34', 'AGEP_7:35-39', 'AGEP_7:40-44', 'AGEP_7:45-49', 'AGEP_7:50-54', 'AGEP_7:55-59', 'AGEP_7:60-64', 'AGEP_7:65-69', 'AGEP_7:70-74', 'AGEP_7:75-79', 'AGEP_7:80-84', 'AGEP_7:85+', 'AGEP_7:nan', 'AGEP_8:under 5', 'AGEP_8:5-9', 'AGEP_8:10-14', 'AGEP_8:15-19', 'AGEP_8:20-24', 'AGEP_8:25-29', 'AGEP_8:30-34', 'AGEP_8:35-39', 'AGEP_8:40-44', 'AGEP_8:45-49', 'AGEP_8:50-54', 'AGEP_8:55-59', 'AGEP_8:60-64', 'AGEP_8:65-69', 'AGEP_8:70-74', 'AGEP_8:75-79', 'AGEP_8:80-84', 'AGEP_8:85+', 'AGEP_8:nan', 'AGEP_9:under 5', 'AGEP_9:5-9', 'AGEP_9:10-14', 'AGEP_9:15-19', 'AGEP_9:20-24', 'AGEP_9:25-29', 'AGEP_9:30-34', 'AGEP_9:35-39', 'AGEP_9:40-44', 'AGEP_9:45-49', 'AGEP_9:50-54', 'AGEP_9:55-59', 'AGEP_9:60-64', 'AGEP_9:65-69', 'AGEP_9:70-74', 'AGEP_9:75-79', 'AGEP_9:80-84', 'AGEP_9:85+', 'AGEP_9:nan', 'AGEP_10:under 5', 'AGEP_10:5-9', 'AGEP_10:10-14', 'AGEP_10:15-19', 'AGEP_10:20-24', 'AGEP_10:25-29', 'AGEP_10:30-34', 'AGEP_10:35-39', 'AGEP_10:40-44', 'AGEP_10:45-49', 'AGEP_10:50-54', 'AGEP_10:55-59', 'AGEP_10:60-64', 'AGEP_10:65-69', 'AGEP_10:70-74', 'AGEP_10:75-79', 'AGEP_10:80-84', 'AGEP_10:85+', 'AGEP_10:nan', 'AGEP_11:under 5', 'AGEP_11:5-9', 'AGEP_11:10-14', 'AGEP_11:15-19', 'AGEP_11:20-24', 'AGEP_11:25-29', 'AGEP_11:30-34', 'AGEP_11:35-39', 'AGEP_11:40-44', 'AGEP_11:45-49', 'AGEP_11:50-54', 'AGEP_11:55-59', 'AGEP_11:60-64', 'AGEP_11:65-69', 'AGEP_11:70-74', 'AGEP_11:75-79', 'AGEP_11:80-84', 'AGEP_11:85+', 'AGEP_11:nan', 'AGEP_12:under 5', 'AGEP_12:5-9', 'AGEP_12:10-14', 'AGEP_12:15-19', 'AGEP_12:20-24', 'AGEP_12:25-29', 'AGEP_12:30-34', 'AGEP_12:35-39', 'AGEP_12:40-44', 'AGEP_12:45-49', 'AGEP_12:50-54', 'AGEP_12:55-59', 'AGEP_12:60-64', 'AGEP_12:65-69', 'AGEP_12:70-74', 'AGEP_12:75-79', 'AGEP_12:80-84', 'AGEP_12:85+', 'AGEP_12:nan', 'AGEP_13:under 5', 'AGEP_13:5-9', 'AGEP_13:10-14', 'AGEP_13:15-19', 'AGEP_13:20-24', 'AGEP_13:25-29', 'AGEP_13:30-34', 'AGEP_13:35-39', 'AGEP_13:40-44', 'AGEP_13:45-49', 'AGEP_13:50-54', 'AGEP_13:55-59', 'AGEP_13:60-64', 'AGEP_13:65-69', 'AGEP_13:70-74', 'AGEP_13:75-79', 'AGEP_13:80-84', 'AGEP_13:85+', 'AGEP_13:nan', 'AGEP_14:under 5', 'AGEP_14:5-9', 'AGEP_14:10-14', 'AGEP_14:15-19', 'AGEP_14:20-24', 'AGEP_14:25-29', 'AGEP_14:30-34', 'AGEP_14:35-39', 'AGEP_14:40-44', 'AGEP_14:45-49', 'AGEP_14:50-54', 'AGEP_14:55-59', 'AGEP_14:60-64', 'AGEP_14:65-69', 'AGEP_14:70-74', 'AGEP_14:75-79', 'AGEP_14:80-84', 'AGEP_14:85+', 'AGEP_14:nan', 'SCHL_1:other', 'SCHL_1:less than high school', 'SCHL_1:high school', 'SCHL_1:college or associate', 'SCHL_1:bachelor', 'SCHL_1:graduate', 'SCHL_1:nan', 'SCHL_2:other', 'SCHL_2:less than high school', 'SCHL_2:high school', 'SCHL_2:college or associate', 'SCHL_2:bachelor', 'SCHL_2:graduate', 'SCHL_2:nan', 'SCHL_3:other', 'SCHL_3:less than high school', 'SCHL_3:high school', 'SCHL_3:college or associate', 'SCHL_3:bachelor', 'SCHL_3:graduate', 'SCHL_3:nan', 'SCHL_4:other', 'SCHL_4:less than high school', 'SCHL_4:high school', 'SCHL_4:college or associate', 'SCHL_4:bachelor', 'SCHL_4:graduate', 'SCHL_4:nan', 'SCHL_5:other', 'SCHL_5:less than high school', 'SCHL_5:high school', 'SCHL_5:college or associate', 'SCHL_5:bachelor', 'SCHL_5:graduate', 'SCHL_5:nan', 'SCHL_6:other', 'SCHL_6:less than high school', 'SCHL_6:high school', 'SCHL_6:college or associate', 'SCHL_6:bachelor', 'SCHL_6:graduate', 'SCHL_6:nan', 'SCHL_7:other', 'SCHL_7:less than high school', 'SCHL_7:high school', 'SCHL_7:college or associate', 'SCHL_7:bachelor', 'SCHL_7:graduate', 'SCHL_7:nan', 'SCHL_8:other', 'SCHL_8:less than high school', 'SCHL_8:high school', 'SCHL_8:college or associate', 'SCHL_8:bachelor', 'SCHL_8:graduate', 'SCHL_8:nan', 'SCHL_9:other', 'SCHL_9:less than high school', 'SCHL_9:high school', 'SCHL_9:college or associate', 'SCHL_9:bachelor', 'SCHL_9:graduate', 'SCHL_9:nan', 'SCHL_10:other', 'SCHL_10:less than high school', 'SCHL_10:high school', 'SCHL_10:college or associate', 'SCHL_10:bachelor', 'SCHL_10:graduate', 'SCHL_10:nan', 'SCHL_11:other', 'SCHL_11:less than high school', 'SCHL_11:high school', 'SCHL_11:college or associate', 'SCHL_11:bachelor', 'SCHL_11:graduate', 'SCHL_11:nan', 'SCHL_12:other', 'SCHL_12:less than high school', 'SCHL_12:high school', 'SCHL_12:college or associate', 'SCHL_12:bachelor', 'SCHL_12:graduate', 'SCHL_12:nan', 'SCHL_13:other', 'SCHL_13:less than high school', 'SCHL_13:high school', 'SCHL_13:college or associate', 'SCHL_13:bachelor', 'SCHL_13:graduate', 'SCHL_13:nan', 'SCHL_14:other', 'SCHL_14:less than high school', 'SCHL_14:high school', 'SCHL_14:college or associate', 'SCHL_14:bachelor', 'SCHL_14:graduate', 'SCHL_14:nan']

In [21]:
print(df_onehot.head())
print(df_onehot.info())

   TEN:owned or mortgaged  TEN:rented  HHL:english  HHL:spanish  \
0                       1           0            1            0
1                       1           0            1            0
2                       1           0            1            0
3                       1           0            1            0
4                       1           0            1            0

   HHL:other indo-european  HHL:asian and pacific island languages  HHL:other  \
0                        0                                       0          0
1                        0                                       0          0
2                        0                                       0          0
3                        0                                       0          0
4                        0                                       0          0

   VEH:no vehicles  VEH:1 vehicle  VEH:2 vehicles  ...  SCHL_13:bachelor  \
0                0              1               0  ...                 0
1                0              0               1  ...                 0
2                0              0               1  ...                 0
3                0              0               0  ...                 0
4                0              0               1  ...                 0

   SCHL_13:graduate  SCHL_13:nan  SCHL_14:other  \
0                 0            1              0
1                 0            1              0
2                 0            1              0
3                 0            1              0
4                 0            1              0

   SCHL_14:less than high school  SCHL_14:high school  \
0                              0                    0
1                              0                    0
2                              0                    0
3                              0                    0
4                              0                    0

   SCHL_14:college or associate  SCHL_14:bachelor  SCHL_14:graduate  \
0                             0                 0                 0
1                             0                 0                 0
2                             0                 0                 0
3                             0                 0                 0
4                             0                 0                 0

   SCHL_14:nan
0            1
1            1
2            1
3            1
4            1

[5 rows x 433 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3156 entries, 0 to 3155
Columns: 433 entries, TEN:owned or mortgaged to SCHL_14:nan
dtypes: int64(433)
memory usage: 10.4 MB
None

In [22]:
# drop zero columns 
#df_onehot = df_onehot.loc[:, (df_onehot.sum() != 0)]
df_onehot.to_csv(f'/workspace/data/{file_name}', index=False)

In [23]:
# compute ration of 0s to 1s 

unique_values = np.unique(df_onehot.values, return_counts=True)
print(unique_values)

# compute the ratio of 0s to 1s
ratio = unique_values[1][1] / unique_values[1][0]
print(f'{ratio:.3f}')

(array([0, 1]), array([1215060,  151488]))
0.125