In [19]:
import pandas as pd
import numpy as np

In [10]:
df_h_a = pd.read_csv('A:/csv_hus/psam_husa.csv')
df_h_b = pd.read_csv('A:/csv_hus/psam_husb.csv')
df_h_c = pd.read_csv('A:/csv_hus/psam_husc.csv')
df_h_d = pd.read_csv('A:/csv_hus/psam_husd.csv')

In [74]:
h_colums_to_keep = ['SERIALNO', 'TEN', 'HHL', 'VEH', 'HINCP', 'R65', 'R18']

df_h_a_filtered = df_h_a.filter(items=h_colums_to_keep).dropna()
df_h_b_filtered = df_h_b.filter(items=h_colums_to_keep).dropna()
df_h_c_filtered = df_h_c.filter(items=h_colums_to_keep).dropna()
df_h_d_filtered = df_h_d.filter(items=h_colums_to_keep).dropna()

In [75]:
df_h_clean = pd.concat([df_h_a_filtered, df_h_b_filtered, df_h_c_filtered, df_h_d_filtered])

print(df_h_clean.head())
print(df_h_clean.info())

           SERIALNO  TEN  HHL  VEH    HINCP  R65  R18
2292  2018HU0000071  2.0  1.0  2.0  96400.0  2.0  0.0
2293  2018HU0000147  2.0  1.0  2.0  59100.0  0.0  1.0
2294  2018HU0000274  1.0  1.0  2.0  65500.0  0.0  0.0
2295  2018HU0000285  4.0  1.0  0.0  25100.0  1.0  0.0
2296  2018HU0000302  3.0  1.0  2.0  92000.0  0.0  0.0
<class 'pandas.core.frame.DataFrame'>
Index: 6146602 entries, 2292 to 1912596
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   SERIALNO  object
 1   TEN       float64
 2   HHL       float64
 3   VEH       float64
 4   HINCP     float64
 5   R65       float64
 6   R18       float64
dtypes: float64(6), object(1)
memory usage: 375.2+ MB
None

In [76]:
hincp_bins = [0, 5000, 10000, 15000, 20000, 25000, 35000, 50000, 75000, 100000, 150000, np.inf]
hincp_labels = ['under 5k', '5k-10k', '10k-15k', '15k-20k', 'excluded', '25k-35k', '35k-50k', '50k-75k', '75k-100k', '100k-150k', '150k+']

# right = False: right open, left closed
df_h_clean['HINCP'] = pd.cut(df_h_clean['HINCP'], bins=hincp_bins, labels=hincp_labels, right=False, include_lowest=True)
df_h_clean = df_h_clean[df_h_clean['HINCP'] != 'excluded']

In [77]:
TEN_bins = [0, 2, 3]
TEN_labels = ['owned or mortgaged', 'rented']

df_h_clean['TEN'] = pd.cut(df_h_clean['TEN'], bins=TEN_bins, labels=TEN_labels)

In [78]:
R18_bins = [0, 1, 2]
R18_labels = ['no', 'yes']

# right = False: right open, left closed
df_h_clean['R18'] = pd.cut(df_h_clean['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)

R65_bins = [0, 1, 2]
R65_labels = ['no', 'yes']

df_h_clean['R65'] = pd.cut(df_h_clean['R65'], bins=R65_bins, labels=R65_labels, right=False, include_lowest=True)

# test dataframe to see correct binning

#test = pd.DataFrame()
#test['R18'] = [0, 1, 2]
#
#test['R18'] = pd.cut(test['R18'], bins=R18_bins, labels=R18_labels, right=False, include_lowest=True)
#
#print(test)

In [79]:
HHL_bins = [0, 1, 2, 3]
HHL_labels = ['english', 'spanish', 'other indo-european']

# test dataframe to see if bins are correct 
#test = pd.DataFrame()
#test['HHL'] = [0, 1, 2, 3]
#test['HHL'] = pd.cut(test['HHL'], bins=HHL_bins, labels=HHL_labels)

#print(test)

df_h_clean['HHL'] = pd.cut(df_h_clean['HHL'], bins=HHL_bins, labels=HHL_labels)

In [80]:
VEH_bins = [0, 1, 2, 3, 4, np.inf]
VEH_labels = ['no vehicles', '1 vehicle', '2 vehicles', '3 vehicles', '4 or more vehicles'] 

df_h_clean['VEH'] = pd.cut(df_h_clean['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)


#test = pd.DataFrame()
#test['VEH'] = [0, 1, 2, 3, 4, 5]
#test['VEH'] = pd.cut(test['VEH'], bins=VEH_bins, labels=VEH_labels, include_lowest=True, right=False)
#
#print(test)

In [81]:
df_h_clean = df_h_clean.dropna()

In [82]:
print(df_h_clean.head())
print(df_h_clean.info())

           SERIALNO                 TEN      HHL                 VEH  \
2293  2018HU0000147  owned or mortgaged  english          2 vehicles
2294  2018HU0000274  owned or mortgaged  english          2 vehicles
2296  2018HU0000302              rented  english          2 vehicles
2297  2018HU0000379  owned or mortgaged  spanish  4 or more vehicles
2298  2018HU0000472  owned or mortgaged  english           1 vehicle

         HINCP R65  R18
2293   50k-75k  no  yes
2294   50k-75k  no   no
2296  75k-100k  no   no
2297   50k-75k  no  yes
2298   50k-75k  no   no
<class 'pandas.core.frame.DataFrame'>
Index: 4706456 entries, 2293 to 1912596
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   SERIALNO  object
 1   TEN       category
 2   HHL       category
 3   VEH       category
 4   HINCP     category
 5   R65       category
 6   R18       category
dtypes: category(6), object(1)
memory usage: 98.7+ MB
None

In [83]:
df_h_clean.to_csv('A:/csv_hus/psam_hus_filtered.csv', index=False)

In [33]:
df_p_a = pd.read_csv('A:/csv_pus/psam_pusa.csv')
df_p_b = pd.read_csv('A:/csv_pus/psam_pusb.csv')
df_p_c = pd.read_csv('A:/csv_pus/psam_pusc.csv')
df_p_d = pd.read_csv('A:/csv_pus/psam_pusd.csv')

In [84]:
p_colums_to_keep = ['SERIALNO', 'SEX', 'AGEP', 'SCHL']

df_p_a_filtered = df_p_a.filter(items=p_colums_to_keep).dropna()
df_p_b_filtered = df_p_b.filter(items=p_colums_to_keep).dropna()
df_p_c_filtered = df_p_c.filter(items=p_colums_to_keep).dropna()
df_p_d_filtered = df_p_d.filter(items=p_colums_to_keep).dropna()

df_p_clean = pd.concat([df_p_a_filtered, df_p_b_filtered, df_p_c_filtered, df_p_d_filtered])

In [85]:
SEX_bins = [0, 1, 2]
SEX_labels = ['male', 'female']

df_p_clean['SEX'] = pd.cut(df_p_clean['SEX'], bins=SEX_bins, labels=SEX_labels)

In [86]:
AGEP_bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, np.inf]
AGEP_labels = ['under 5', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85+']

df_p_clean['AGEP'] = pd.cut(df_p_clean['AGEP'], bins=AGEP_bins, labels=AGEP_labels, right=False, include_lowest=True)

In [87]:
SCHL_bins = [0, 12, 18, 21, 22, np.inf]

SCHL_labels = ['NA', 'high school', 'college or associate', 'bachelor', 'graduate']

df_p_clean['SCHL'] = pd.cut(df_p_clean['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)


#test = pd.DataFrame()
#test['SCHL'] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
#test['SCHL'] = pd.cut(test['SCHL'], bins=SCHL_bins, labels=SCHL_labels, right=False, include_lowest=True)
#
#print(test)

In [88]:

print(df_p_clean.head())
print(df_p_clean.info())

        SERIALNO     SEX   AGEP                  SCHL
0  2018GQ0000049  female  15-19  college or associate
1  2018GQ0000058  female  15-19  college or associate
2  2018GQ0000219    male  50-54           high school
3  2018GQ0000246    male  25-29  college or associate
4  2018GQ0000251  female  25-29           high school
<class 'pandas.core.frame.DataFrame'>
Index: 15283774 entries, 0 to 3997950
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   SERIALNO  object
 1   SEX       category
 2   AGEP      category
 3   SCHL      category
dtypes: category(3), object(1)
memory usage: 276.9+ MB
None

In [89]:
# match the two dataframes on SERIALNO

df_clean = pd.merge(df_h_clean, df_p_clean, on='SERIALNO')


print(df_clean.head())
print(df_clean.info())

        SERIALNO                 TEN      HHL         VEH    HINCP R65  R18  \
0  2018HU0000147  owned or mortgaged  english  2 vehicles  50k-75k  no  yes
1  2018HU0000147  owned or mortgaged  english  2 vehicles  50k-75k  no  yes
2  2018HU0000147  owned or mortgaged  english  2 vehicles  50k-75k  no  yes
3  2018HU0000147  owned or mortgaged  english  2 vehicles  50k-75k  no  yes
4  2018HU0000274  owned or mortgaged  english  2 vehicles  50k-75k  no   no

      SEX   AGEP                  SCHL
0    male  60-64           high school
1  female  50-54  college or associate
2  female  10-14                    NA
3  female  60-64           high school
4    male  30-34              bachelor
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11106182 entries, 0 to 11106181
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   SERIALNO  object
 1   TEN       category
 2   HHL       category
 3   VEH       category
 4   HINCP     category
 5   R65       category
 6   R18       category
 7   SEX       category
 8   AGEP      category
 9   SCHL      category
dtypes: category(9), object(1)
memory usage: 180.1+ MB
None

In [90]:
# create one hot encoding for each category 

df_onehot = pd.get_dummies(df_clean, columns=['TEN', 'HHL', 'VEH', 'R18', 'R65', 'HINCP', 'SEX', 'AGEP', 'SCHL'], prefix_sep=':', dtype=int)

In [91]:
print(df_onehot.head())
print(df_onehot.info())

        SERIALNO  TEN:owned or mortgaged  TEN:rented  HHL:english  \
0  2018HU0000147                       1           0            1
1  2018HU0000147                       1           0            1
2  2018HU0000147                       1           0            1
3  2018HU0000147                       1           0            1
4  2018HU0000274                       1           0            1

   HHL:spanish  HHL:other indo-european  VEH:no vehicles  VEH:1 vehicle  \
0            0                        0                0              0
1            0                        0                0              0
2            0                        0                0              0
3            0                        0                0              0
4            0                        0                0              0

   VEH:2 vehicles  VEH:3 vehicles  ...  AGEP:65-69  AGEP:70-74  AGEP:75-79  \
0               1               0  ...           0           0           0
1               1               0  ...           0           0           0
2               1               0  ...           0           0           0
3               1               0  ...           0           0           0
4               1               0  ...           0           0           0

   AGEP:80-84  AGEP:85+  SCHL:NA  SCHL:high school  SCHL:college or associate  \
0           0         0        0                 1                          0
1           0         0        0                 0                          1
2           0         0        1                 0                          0
3           0         0        0                 1                          0
4           0         0        0                 0                          0

   SCHL:bachelor  SCHL:graduate
0              0              0
1              0              0
2              0              0
3              0              0
4              1              0

[5 rows x 51 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11106182 entries, 0 to 11106181
Data columns (total 51 columns):
 #   Column                     Dtype
---  ------                     -----
 0   SERIALNO                   object
 1   TEN:owned or mortgaged     int32
 2   TEN:rented                 int32
 3   HHL:english                int32
 4   HHL:spanish                int32
 5   HHL:other indo-european    int32
 6   VEH:no vehicles            int32
 7   VEH:1 vehicle              int32
 8   VEH:2 vehicles             int32
 9   VEH:3 vehicles             int32
 10  VEH:4 or more vehicles     int32
 11  R18:no                     int32
 12  R18:yes                    int32
 13  R65:no                     int32
 14  R65:yes                    int32
 15  HINCP:under 5k             int32
 16  HINCP:5k-10k               int32
 17  HINCP:10k-15k              int32
 18  HINCP:15k-20k              int32
 19  HINCP:excluded             int32
 20  HINCP:25k-35k              int32
 21  HINCP:35k-50k              int32
 22  HINCP:50k-75k              int32
 23  HINCP:75k-100k             int32
 24  HINCP:100k-150k            int32
 25  HINCP:150k+                int32
 26  SEX:male                   int32
 27  SEX:female                 int32
 28  AGEP:under 5               int32
 29  AGEP:5-9                   int32
 30  AGEP:10-14                 int32
 31  AGEP:15-19                 int32
 32  AGEP:20-24                 int32
 33  AGEP:25-29                 int32
 34  AGEP:30-34                 int32
 35  AGEP:35-39                 int32
 36  AGEP:40-44                 int32
 37  AGEP:45-49                 int32
 38  AGEP:50-54                 int32
 39  AGEP:55-59                 int32
 40  AGEP:60-64                 int32
 41  AGEP:65-69                 int32
 42  AGEP:70-74                 int32
 43  AGEP:75-79                 int32
 44  AGEP:80-84                 int32
 45  AGEP:85+                   int32
 46  SCHL:NA                    int32
 47  SCHL:high school           int32
 48  SCHL:college or associate  int32
 49  SCHL:bachelor              int32
 50  SCHL:graduate              int32
dtypes: int32(50), object(1)
memory usage: 2.2+ GB
None

In [92]:
# save to csv
df_onehot.to_csv('A:/csv_hus/psam_hus_pus_filtered.csv', index=False)